html{
  font-size:62.5%; /*Output of 62.5% of browser setted font-size and become 1 rem*/
  box-sizing: border-box;
}

body{
  margin:0;
  height:100vh;
  font-size:1.6rem;
  font-family:Helvetica,Arial, sans-serif;
}

/*Layout*/

.grid-container{
  display:grid;
  grid-template-areas:
  'header'
  'main'
  'footer'; /*Creating placeholder*/
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height:100%;
  grid-gap:10px;
}

header{
  grid-area:header; /*Assigning Place holders*/
  background-color:#203040;
  color:white;
}
main{
  grid-area:main;
  padding:1rem;
  height:100%;
}

footer{
  grid-area:footer;
  background-color:#203040;
  color:#fff;
}

.rows{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  
}

a:hover{
  color:#ff8000
}

header a{
  color:#fff;
}

a.brand{
  color:white;
  font-size:3rem;
  font-weight:bold;
}

.rows.center{
  justify-content: center;
}

.card{  

  border :0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius:0.5rem;
  margin:1rem;
}

.card-body{
  padding :1rem;
}

.card-body >*{
  margin-bottom:0.5rem;
}

/**/
img{
  border-radius:0.5rem;
}

img.medium{
  max-width:29rem;
  max-height:29rem;
  width:100%;
}

h1{
  font-size:1.8rem;
  padding:1rem 0;
}

h2{
  font-size:1.6rem;
  padding:1rem 0;

  
}

.price{
  font-size:2rem;

}

.success{
   color:green;
}

.error{
  color:red;
}

.alert{
  background-color: rgb(250, 125, 0,0.7);
  
}